.login{
    padding: 5px 35px;
    margin: 5px 10px;
    border: 1px black solid;
    background-color: #E9EDC9;
}

.modal{
    display: none;
    background-color: rgba(0,0,0,0.4);
}

.login:hover{
    background-color: #F4F4D5;
}

#login-box{
    background-color: #FEFAE0;
    margin: 157px auto;
    text-align: center;
    padding: 50px;
    color: #4B3825;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.back{
    text-align: left;
}

.back a{
    color: #010101;
    text-decoration: none;
}

#login-box h1{
    text-align: center;
    margin: 10px;
}

#login-box input[type=text]{
    width: 40%;
    margin: 20px 0 28px;
    padding: 12px 20px;
    border: 0px;
    background-color: #E9EDC9;
    box-sizing: border-box;
}

#login-box input#password {
    width: 40%;
    margin: 20px 0 28px;
    padding: 12px 20px;
    border: 0px;
    background-color: #E9EDC9;
    box-sizing: border-box;
}
#login-box button{
    background-color: #CCD5AE;
    display: block;
    width: 40%;
    margin: auto;
    border: 0px;
    padding: 12px 20px;
}
 
#login-box p{
    margin: 35px;
}

#login-box button:hover{
    background-color: #C9D1AD;
    cursor:pointer;
}

.header {
    background-color: #F4F4D5;
    height: 220px;
}

.header img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.separater {
    background-color: #FEFAE0;
    height: 100px;
    display: flex;
}

.separater img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.title{
    margin-left: 50px;
}

.forum-pic {
    background-color: rgb(209, 160, 61);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    position: relative;
    left: 30px;
    bottom: 30px;   
}

/*FOOTER */
.footer-links { 
    text-align: right;
    padding: 0px 20px 0px 20px;
}
footer {
    bottom: 0;
    width: 100%;
    height: 60px; 
    background-color: #CCD5AE;
    padding: 10px 0px 0px 0px;
}
.footer-links a {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    background-color: #CCD5AE;
    color: #4B3825;
    text-decoration: none;
    border-radius: 5px;
}
  
.footer-links a:hover {
    background-color: #DBE1BC;
}
