.header {
    background-color: #F4F4D5;
    height: 220px;
}

.header img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.separater {
    background-color: #FEFAE0;
    height: 100px;
    display: flex;
}

.separater img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.title{
    margin-left: 50px;
}

.forum-pic {
    background-color: rgb(209, 160, 61);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    position: relative;
    left: 30px;
    bottom: 30px;   
}

/*FOOTER */
.footer-links { 
    text-align: right;
    padding: 0px 20px 0px 20px;
}
footer {
    bottom: 0;
    width: 100%;
    height: 60px; 
    background-color: #CCD5AE;
    padding: 10px 0px 0px 0px;
}
.footer-links a {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    background-color: #CCD5AE;
    color: #4B3825;
    text-decoration: none;
    border-radius: 5px;
}
  
.footer-links a:hover {
    background-color: #DBE1BC;
}

#dropdown-menu{
    list-style: none;
  }