/* nav */
.navbar-nav {
    margin-left: auto;
}

.nav-color {
    background-color: #CCD5AE;
}

.navbar-nav a {
    display: inline-block;
    color: #4B3825;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
}
.navbar-nav a:hover {
    background-color: #DBE1BC;
}

#dropdown-menu{
    list-style-type: none;
  }

/* carousel */
#carouselExampleCaptions {
  margin: 40px auto;
}

.carousel-img {
    width: 50%;
    height: 300px;
    margin: 0 auto 20px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carousel-item {
    text-align: center;
}

.carousel-control-next-icon {
    margin-left: -40vw;
}

.carousel-control-prev-icon {
    margin-right: -40vw;
}

/* main */
body{
    background-color: #E9EDC9 !important;
}
.reaction {
    display: flex;
}
.replies {
   margin-left: 10px;
}
html {
    background-color: #E9EDC9;
}

.fa-heart{
    cursor: pointer;
}
.nav-item{
    list-style-type: none;  
}