#login-box{
    background-color: #FEFAE0;
    margin: 157px auto;
    text-align: center;
    padding: 50px;
    color: #4B3825;
    max-width: 700px;
    border-radius: 50px;
}

h1{
    text-align: center;
    margin: 10px;
}

input[type=text]{
    width: 40%;
    margin: 20px 0 28px;
    padding: 12px 20px;
    border: 0px;
    background-color: #E9EDC9;
    box-sizing: border-box;
}

input#password {
    width: 40%;
    margin: 20px 0 28px;
    padding: 12px 20px;
    border: 0px;
    background-color: #E9EDC9;
    box-sizing: border-box;
}
button{
    background-color: #CCD5AE;
    display: block;
    width: 40%;
    margin: auto;
    border: 0px;
    padding: 12px 20px;
}
 
p{
    margin: 35px;
}

button:hover{
    background-color: #C9D1AD;
    cursor:pointer;
}

/* nav */
.navbar-nav {
    margin-left: auto;
}

.nav-color {
    background-color: #CCD5AE;
}

.navbar-nav a {
    display: inline-block;
    color: #4B3825;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
}
.navbar-nav a:hover {
    background-color: #DBE1BC;
}