body {
	background-color: #E9EDC9;
}

header {
	display: flex;
	align-items: center;
	background-color: #CCD5AE;
	padding: 1rem;
}

/* nav */
.navbar-nav {
    margin-left: auto;
}

.nav-color {
    background-color: #CCD5AE;
}

.navbar-nav a {
    display: inline-block;
    color: #4B3825;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
}
.navbar-nav a:hover {
    background-color: #DBE1BC;
}

/* boxes */
h1 {
	margin-left: 1rem;
}

section.latest-news {
	margin: 2rem auto;
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 2rem;
	background-color: #FEFAE0;
	padding: 1rem;
}

.latest-news-header {
    display: flex;
    justify-content: center;
	grid-column: 1 / -1;
	background-color: #FEFAE0;
	padding: 1rem;
}
#latest-news{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 4vw;
    row-gap: 2vw;
    margin: 20px 2vw;
    /*Delete once you put in content */
    margin-bottom: 30vh;
}
#latest-news div{
    background-color: #FEFAE0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}